################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ExpressionComputeCore/obj
/MATHUB/bin/x64/Debug
/MATHUB/obj
/MATHUB/.vs/MATHUB
/MATHUB/.vscode
/ExpressionComputeCore/bin/Debug/net6.0
/ExpressionComputeCoreTests
/NaturplayMathTest
/NaturplayMath/bin/Debug/netcoreapp3.0
/NaturplayMath/obj
/.vs/MATHUB/v17
/.vs
/MATHUB_WIN/bin/x64/Debug/net6.0-windows10.0.19041.0/win10-x64
/MATHUB_WIN/obj
/MATHUB_WIN/bin
/MATHUB_WIN/bin
